

body{
    background-color: black;
 }
 .first{
    background-image:linear-gradient(rgba(0, 0, 0, 0.534),rgba(0, 0, 0, 0.507)) ,url(netflix\ bg.jpg);
    background-repeat: no-repeat;
    background-size:100% 100%;
    height: 670px;
    width: 1300px;
    border-bottom: 5px solid grey;
    
}
.logo img{
    width: 150px;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
  
}
#button1{ 
    background-color: black; 
    color: white;
    border: 1px solid white;
    padding: 5px;
    padding-left: 12px;
    padding-right: 12px;
    margin-right: 20px;
    
}
#button1:active{
    background-color: rgb(145, 63, 63);
}

#button2{
    background-color: rgb(216, 73, 73);
    color: white;
    border: none;
    padding: 5px;
}
#button2:hover{
    background-color:black;
}



.content{
    color: white;
margin-top: 150px;
font-family:Arial, Helvetica, sans-serif, 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif, 'Arial Narrow', Arial, sans-serif, 'Arial Narrow', Arial, sans-serif;

}
.form{
    display: flex;
    justify-content: center;
    
}
.form_button{
    color: white;
}
.two{
    display: flex;
    background-color: black;
width: 1291px;
margin-top: 1px;
border-bottom: 5px solid grey;
border-top: 1px solid grey;
/* height: 500px; */
width: 1300px;
}
.nandu{
    color: white;
    margin-left: 50px;
    margin-top: 50px;
}
.ng img{
    /* margin-right: 50px; */
    /* margin-top: 200px; */
    height: 300px;
    width: 400px;
    margin-top: 100px;
}
.three{
    background-color: black;
   display: flex;
   padding-left: 150px;
   padding-top: 200px;
   margin-top: 1px;
   width: 1150px;
   height: 320px;
 align-items: center;
 

}
.box{
    color: white;
    margin-left: 200px;
    padding-bottom: 100px;
    margin-bottom: 200px;
    font-family: Arial, Helvetica, sans-serif;
}
 .ng1 img{
    /* margin-top: 50px;
    padding-left: 50px;
    */
    margin-bottom: 250px;
} 
.tabs{
    background-color: rgb(29, 29, 29);
    border-bottom: 3px solid rgb(39, 36, 36);
    width: 1300px;
}
.tabs .container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1rm;
    align-items: center;
    justify-content: center;
    text-align: center;
    /* background-color: rgb(6, 7, 6); */

}
.container{
    width:900px;
    margin: auto;
    /* overflow: hidden; */
}
.tabs .container >div{
    padding: 1.5rem;
}
.tabs .container>div{
    color: white;
    cursor: pointer;
}
.tabs button{
    font-size: 20px;
    background-image:linear-gradient(rgba(8, 7, 7, 0.534),rgba(219, 19, 19, 0.507));
    border-radius: 10px;
    color: white;
    padding: 10px 20px;
}
.tab-border{

    border-bottom: var(rgb(228, 225, 225)) 4px solid;
}
#tab-content .innertab1{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 2rem;
align-items: center;
justify-content: center;
}
.text{
    font-size: 20px;
    color: white;
    margin-bottom: 10px;
    
   
}

.par1{
    font-size: 18px;
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}
.par2{
    font-size: 18px;
    padding-top: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.par3{
    font-size: 18px;
    padding-top: 40px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.btn{
    padding-top: 15px;
}
.tab content{
    padding: 300px;
}
.img2{
    padding-top: 30px;
}
#tab-content2 .tab2-top{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 1rem;
    justify-content: center;
    align-items: center;
}
#tab-content2 .tab2-bottom{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.footer{
    width: 900px;
    margin: 1rem auto;
    overflow: auto;

}
.footer, .footer a {
    color: grey;
    font-size: 15px;
}
.footer p{
    margin-bottom: 1.5rem;
}
.footer .footer-cols{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 2rem;
}
.footer li{
    line-height: 1.9;
}
#tab-content1, #tab-content2{
    display: none;
}
.show{
    display: block !important;
}